@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/* Header */

header {
    background-color: #27292b;
    padding-bottom: 20px;
}



/* Title */

input {
    display: inline-block;
    margin-left: 50px;
    margin-top: 15px;
}

button {
    display: inline-block;
    margin-top: 15px;
}

input {
    padding-left: 3px;
}

#find-track {
    margin-top: 5px;
    margin-left: 100px;
}


#search-bar {
    text-align: left;
    padding-top: 50px;
}

/* Search Results */

.table-container {
    height: 10em;
}

.hidden{
    display: none;
}

.hidden-track, .hidden-artist, .hidden-album {
    display: none;
}

table {
    display: flex;
    flex-flow: column;
    max-height: 230px;
    width: 100%;
    padding-top: 10px;
}

table thead {
    flex: 0 0 auto;
    width: calc(100% - 0.9em);
    color: #40bc67;
    font-family: "Exo", sans-serif;
    font-weight: 600;

}

table tbody {

    flex: 1 1 auto;
    display: block;
    overflow-y: scroll;
    color: #40bc67;
    font-family: "Exo", sans-serif;
    font-weight: 400;
}

table tbody tr {
    width: 100%;
}

table thead,
table tbody tr {
    display: table;
    table-layout: fixed;
}

tbody tr:hover {
    background-color: #fafafa;
    transition-duration: 0.5s;
    color: #27292b;
    text-decoration: underline;
    cursor: pointer;
    
}



/* fonts   */

#title-text {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: #40bc67;
    padding-top: 20px;
}

#subtitle-text {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: #40bc67;
}

/* Section */

section {
    background-color: #27292b;
}

.section-text {
    font-family: "Exo", sans-serif;
    font-weight: 400;
    color: #40bc67;
}

.section-heading {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

#track-info-container {
    min-height: 360px;
    width: 100%;
    padding: 25px;
    background-color: black;
    border: 2px solid black;
    margin-top: 30px;
}

#artist-info-container {
    min-height: 360px;
    width: 100%;
    padding: 25px;
    background-color: black;
    border: 2px solid black;
    margin-top: 30px;
}

#album-info-container {
    min-height: 360px;
    width: 100%;
    padding: 25px;
    background-color: black;
    border: 2px solid black;
    margin-top: 30px;
}

#track-data-container {
    min-height: 280px;
    width: 80%;
    margin-top: 30px;
    border: 2px solid black;
    background-color: black;
    padding: 25px;
    margin-bottom: 40px;
}

.list-style {
    list-style-type: none;
}


